@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url(./assets/Montserrat.ttf);
}

body {
  font-family: "montserrat";
}

.Toastify__progress-bar {
  background: #183650;
}

.Toastify__toast-body svg {
  fill: #183650;
}
