@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url(./assets/Montserrat.ttf);
}

body {
  font-family: "montserrat";
}

:root {
  --blue-color: #183650;
}

progress[value]::-webkit-progress-bar {
  border-radius: 20px;
  @apply bg-orange-300;
}

progress[value]::-webkit-progress-value {
  border-radius: 20px;
  background-color: #183650;
}

.Toastify__toast {
  @apply bg-orange-300;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.Toastify__progress-bar {
  background: #183650;
}

.Toastify__toast-body svg {
  fill: #183650;
}
.App > :first-child {
  flex-grow: 1;
  overflow: auto;
}

.TinderCardAnimation {
  animation: TinderCardAnimation 5s infinite;
}

@keyframes TinderCardAnimation {
  0% {
    transform: (0, 0);
  }
  20% {
    transform: rotate(5deg);
  }
  100% {
    transform: (0, 0);
  }
}
