@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url(./assets/Montserrat.ttf);
}

body {
  font-family: "montserrat";
}

.App>:first-child {
  flex-grow: 1;
  overflow: auto;
}